---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Contact'>
  <div class={'contact-container'}>
    <h1 class={'contact-title'}>Contact</h1>
    <p class={'contact-info'}>
      If you have any comments, questions or feedback about my work — just shoot me an email. For partnerships or
      collaborations inquiries please use email as well. Otherwise, feel free to reach out to me on social networks.
    </p>
    <a class={'contact-link'} href='mailto:alexkorzh7@pm.me'> alexkorzh7@pm.me </a>
    <a class={'contact-link'} href='https://github.com/AlexKLWS'> Github </a>
    <a class={'contact-link'} href='https://www.linkedin.com/in/aleksei-korzh-52952392'> LinkedIn </a>
    <div style={{ height: '16px' }}></div>
    <span class={'twitter-caption'}>Video games, code, art and everything related:</span>
    <a class={'contact-link'} href='https://twitter.com/longwinshadows'> @longwinshadows </a>
    <div class={'bottom-section'}>
      <div class={'contact-separator'}></div>
    </div>
  </div>
</Layout>

<style lang='scss'>
  @import '../styles/config';
  @import '../styles/shared-mixins';

  .contact-title {
    @include title;
    padding-top: 61px;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 720px;
  }

  .contact-info {
    @include normal;
    font-size: 15px;
    padding: 30px 24px;
    text-align: center;

    @media (min-width: $breakpoint-lg) {
      font-size: 16px;
      padding: 30px 82px;
    }
  }

  .contact-separator {
    height: 1px;
    width: 100%;
    border-bottom: $thin-black-color 1px solid;
  }

  .contact-link {
    @include normal-mono;
    font-weight: 600;
    color: $primary-color;
    padding-bottom: 28px;
    border-width: 1px;
    border-color: $white-color;
    border-style: solid;

    &:focus {
      border-color: $secondary-color;
      border-width: 1px;
      outline: none;
    }
  }

  .ContactSecret {
    @include button;
    color: $white-color;
    border-width: 1px;
    border-color: $white-color;
    border-style: solid;

    &:focus {
      border-color: $secondary-color;
      border-width: 1px;
      outline: none;
    }
  }

  .bottom-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
  }

  .twitter-caption {
    @include normal-mono;
    font-weight: 300;
    font-size: 11px;
    line-height: 25px;
    padding: 0px 24px;
    text-align: center;
  }
</style>
