---
import { getCollection } from 'astro:content'
import Layout from '../../../layouts/Layout.astro'

export async function getStaticPaths() {
  const blogEntries = await getCollection('posts')
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Layout title={entry.data.title} description={entry.data.metaDescription}>
  <div class={'post-title-container'}>
    <h1 class='post-title'>{entry.data.title}</h1>
    <h2 class='post-subtitle'>{entry.data.subtitle}</h2>
  </div>
  <post>
    <Content />
  </post>
  <p class={'post-date'}>{entry.data.pubDate.toISOString().slice(0, 10)}</p>
</Layout>

<style lang='scss'>
  @import '../../../styles/global.scss';

  .post-subtitle {
    @include normal-mono;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    margin: 0px;
    padding: 2rem 0px;
    text-align: center;
  }

  .post-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: $breakpoint-lg) {
      padding-top: 3.5rem;
      padding-bottom: 0.8rem;
    }
  }

  .post-title {
    @include normal-mono;
    font-weight: 600;
    line-height: 36px;
    margin: 0px;
    text-align: center;

    @media (min-width: $breakpoint-lg) {
      padding: 0px 4ex;
    }
  }

  .post-date {
    @include normal-mono;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5rem;
    padding: 1.2rem 0.5rem 1.5rem 0.5rem;
    text-align: end;

    @media (min-width: $breakpoint-lg) {
      padding: 1.2rem 2rem 1.5rem 2rem;
    }
  }

  post {
    display: block;

    padding: 0 0.5rem;

    @media (min-width: $breakpoint-lg) {
      padding: 0 2rem;
    }
  }

  post :global(h3) {
    @include normal;
    font-weight: 600;
    font-size: 1.5rem;
  }

  post :global(ol) {
    display: block;
    font-size: 16px;
    line-height: 25px;
    padding-left: 1.5em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  post :global(ul) {
    display: block;
    font-size: 16px;
    line-height: 25px;
    padding-left: 1.5em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  post :global(li) {
    @include normal;
    padding: 0.25rem 0px;
  }

  post :global(a) {
    @include normal;
    color: $primary-color;
    text-decoration: none;
    border-bottom: 0.1em solid black;
  }

  post :global(blockquote p) {
    @include normal;
    border-left: 4px solid $secondary-color;
    padding-left: 10px;
    font-style: italic;
    font-weight: 300;
  }

  post :global(p code) {
    background-color: $secondary-color;
    line-height: 1.3rem;
    font-family: monospace;
    line-break: anywhere;

    @media (min-width: $breakpoint-lg) {
      line-break: auto;
      white-space: pre;
    }
  }

  post :global(p) {
    @include normal;
    font-size: 17px;
    line-height: 1.8rem;
    font-weight: 300;
  }
</style>
