---
import '../styles/global.scss'

import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import GenerativeBackground from '../components/GenerativeBackground.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' href='/favicon.ico' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <a class='app-skip-link' href='#main'> Skip to main </a>
    <GenerativeBackground />
    <div class='app-flex-container'>
      <div class='app-container'>
        <Header />
        <main>
          <slot />
        </main>
        <Footer />
      </div>
    </div>
  </body>
</html>

<style lang='scss'>
  @import '../styles/config';

  .app-flex-container {
    display: flex;
    justify-content: center;
  }

  .app-container {
    width: 100%;
    background: $white-color;
    position: absolute;

    @media (min-width: $breakpoint-desktop-or-laptop) {
      margin: 36px 0px;
      width: 60%;
      max-width: 864px;
      padding: 0px 40px;
    }
  }
</style>
